<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="shortcut icon" href="/images/cloud.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About Page</title>
  </head>
  <body>
<div class="main-content">
  {{>header}}
        <img class="portrait" src="/images/1.jpeg" alt="" />
     
      <p>This application was created to provide real-time weather information for any location worldwide. It utilizes modern web technologies to fetch and display weather data in an easy-to-understand format.</p>
      <p>Developer: {{name}}</p>
</div>
    
    {{>footer}}
  </body>
</html>